
<div class="container">

  <nav class="navbar navbar-light bg-inverse navbar-inverse">
  <a class="navbar-brand">
    <img src="./favicon.ico" width="10" height="10" class="d-inline-block align-left" alt="">
    Angular 2 HTTP CALL
  </a>
  </nav>
   <hr/>

<nav>
  <div>
    <ul>
      <li><a  [routerLink]="['/promise']">HTTP CALL(PROMISE)</a></li>
      <li><a [routerLink]="['/observable']" >HTTP CALL(OBSERVABLE)</a><li>
    </ul>
  </div>
</nav>
  
<section id="main">
  <router-outlet></router-outlet>
</section>

</div>